---
title: Stripe Checkout
date: 2015-08-02
company: stripe
device: web
elements: purchasing, something
description: some text goes here to descripe what people are looking at
preview_image_url: http://placehold.it/250x250/07ebc5/596f70
---

= image_tag lorem.image('960x960', :random_color => true)
